.classe{ /* */
    color:rgb(red, green, blue); /* */
    background-color: aliceblue; /* */
    font-size: large; /* */
    text-align: center; /* */
    background-image: none; /* */
    background-repeat: calc(); /* */
    background-attachment: fixed; /* */
    margin: auto; /* */
    padding: 0%; /* */
    border: 0cap; /* */
    width: auto; /* */
    margin-top: auto; /* */
    position: absolute; /* */
    top: auto; /* */
    bottom: auto; /* */
    left: auto; /* */
    right: auto; /* */
    display: block; /* */ 
    background-size: auto; /* */
    background-position: 0%; /* */
    list-style: armenian; /* */
    font-weight: 100; /* */
}
.classe:hover{ /* */
    text-align: center;
}
.classe:active{ /* */
    text-align: center;
}
.classe:nth-child(){ /* */
    text-align: center;
}
#identificador{ /* */
    color:rgba(red, green, blue, alpha);
}